body {
  background: #ffd49d;
  color: rgb(87, 35, 5);
  font-family: 'Ribeye Marrow', system-ui;
  font-size: 40px;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  text-align: center;
}

button {
  background-color: rgb(74, 21, 9);
  color: #ffd49d;
  font-size: 20px;
  font-family: 'Barrio', system-ui;
  border: none;
  border-radius: 6px;

  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  padding: 12px 20px;

}

#mark {
  position: fixed;
  top: 20px;
  right: 30px;
  width: 40px;
  cursor: pointer;
}
